<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script>
      $(window).bind("load", function(){
        setInterval("get_led_status()", 1000);
        setInterval("get_command_status()", 1000);
         
        var path=location.pathname;
        console.log(path)

        if(path==="/ledon") {
          setTimeout(function(){
            window.location.href = '/';
          }, 0);
        }else if(path==="/ledoff"){
          setTimeout(function(){
            window.location.href = '/';
          }, 0);
        }

        /*
        if(path==="/ledon") {
          $(function(){
            $('a.disable').click(function(){
              return false;
            })
          });
        }
        */

      });

      function get_led_status(){
        path = "status";
        jQuery.ajax({
            url: path,
            type: "get",
            success: function(data) {
              //console.log("success");
              //console.log(data)
              result=data.toString();
              $('div#led_status').text(result);
            },
            error: function(xhr, status, err) {
              $('div#led_status').text("状態取得異常");
            }
        });
      }

      function get_command_status(){
        path = "command_status";
        jQuery.ajax({
            url: path,
            type: "get",
            success: function(data) {
              //console.log("success");
              //console.log(data)
              result=data.toString();
              $('div#led_command_status').text(result);
              
              //console.log(result.indexOf("なし"))
              
              if(result.indexOf("あり")!=-1){
                $("#btn_enable").addClass("btn-primary");
                $("#btn_disable").removeClass("btn-primary");
                //console.log("A")
              }else{
                $("#btn_disable").addClass("btn-primary");
                $("#btn_enable").removeClass("btn-primary");
                //console.log("B")
              }

            },
            error: function(xhr, status, err) {
              $('div#led_command_status').text("状態取得異常");
            }
        });
      }
    </script>

  </head>
