<% include ./_header.ejs %>
  <body style="padding:0;">

    <header>
      <div class="text-center">
        <a href="http://192.168.11.24:3000"><h1><%= title %></h1></a>
      </div>
    </header>

    <div class="container">
      <div class="row justify-content-center">
          <div class="col-4 text-center">
            <a href="./ledon"><button id="btn_enable" type="button" class="btn btn-lg" style="width:200px;height:100px;">集荷あり</button></a>
          </div>
          <div class="col-4 text-center">
            <a href="./ledoff"><button id="btn_disable" type="button" class="btn btn-lg" style="width:200px;height:100px;">集荷なし</button></a>
          </div>
      </div>

      <div class="text-center" style="margin-top:50px;">
        <div>LED回路 / <div id="led_status" style="display:inline"></div></div>
        <div>LED状態 / <div id="led_command_status" style="display:inline"></div></div>
      </div>
    </div>

    <footer>
    
    </footer>

  </body>
</html>

